<!--<div data-alt-transclude="alt/toolbar" data-scope="toolbar"></div>-->
<div data-alt-component="alt/breadcrumb" data-scope="breadcrumb"></div>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0; padding-right: 0">
			<div class="portlet box red-flamingo">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa icon-energy"></i>Master Biaya Sewa
					</div>
					<div class="actions">
						<div data-alt-component="alt/button" data-scope="btnadd" class="pull-right"></div>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row">
						<div class="col-md-12 filter">
							<div class="col-lg-3 col-sm-12 col-lg-offset-5 col-sm-offset-12">
								<select class="form-control" data-ng-model="filter.key">
									<option value="" selected="selected" disabled="disabled">- Jenis Pencarian -</option>
									<option value="jenis_layanan">Jenis Layanan</option>
									<option value="keterangan_layanan">Keterangan Layanan</option>
									<option value="lokasi">Lokasi</option>
								</select>
							</div>
							<div class="col-lg-4 col-sm-12">
								<input type="text" class="form-control" placeholder="Pencarian" data-ng-model="filter.value"/>
							</div>
						</div>
					</div>
					<div data-alt-transclude="alt/table" data-scope="table"  style="overflow-x: auto">
					    <table class="table table-hover table-responsive table-bordered table-condensed table-striped">
					        <thead>
					        <tr>
					            <th style="width: 40px;">No</th>
					            <th >Jenis Layanan</th>
					            <th >Keterangan Layanan</th>
					            <th >Lokasi</th>
								<th >Jarak/Umur Layanan</th>
								<th >Bandwith</th>
					            <th >Biaya Sewa</th>
					            <th class="text-center" style="width: 120px;">Aksi</th>
					        </tr>
					        </thead>
					        <tr data-ng-repeat="item in table.data | filter:table.filter" data-ng-init="btnedit = btnedit(index, item);
					            btnremove = btnremove(index, item);
					            btnview = btnview(index, item);">
					            <td style="text-align: right;">{{ $index + table.offset + 1 }}.</td>
					            <td>{{ item.jenis_layanan | uppercase}}</td>
					            <td>{{ item.keterangan_layanan }}</td>
								<td>{{ item.lokasi }}</td>
								<td>{{ item.jarak }}</td>
								<td>{{ item.bandwidth }}</td>
								<td style="text-align: right;">{{ item.rpsewa | number}}</td>
								
					            <td class="text-center" style="white-space:nowrap">
					                <div data-alt-component="alt/button" data-scope="btnview" ></div>
					                <div data-alt-component="alt/button" data-scope="btnedit" ></div>
					                <div data-alt-component="alt/button" data-scope="btnremove"></div>
					            </td>
					        </tr>
					    </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>