<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-building"></i><b data-ng-if="!isinputkontrak">Kontrak</b>
            <b data-ng-if="isinputkontrak">Input Kontrak</b>
        </div>
        <div class="actions">
            <div data-ng-show="usergroupid == '19'" data-alt-component="alt/button" data-scope="btnadd" class="pull-right"></div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row" style="margin-bottom: 5px">
            <div style="padding:0; margin-bottom: 5px; padding-right: 10px;" class="col-lg-2 col-lg-offset-6 col-md-2 col-md-offset-6 col-sm-12 col-xs-12">
                <select class="form-control" data-ng-model="filter.key">
                    <option value="">Jenis Pencarian</option>
                    <option value="nokontrak">Nomor Kontrak</option>
                    <option value="judulkontrak">Judul Kontrak</option>
                </select>
            </div>
            <div style="padding:0" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <input type="text" class="form-control" placeholder="Pencarian" data-ng-model="filter.value"/>
            </div>
        </div>

        <div data-alt-transclude="alt/table" data-scope="table" style="overflow-x: auto">
            <div class="table-responsive">
                <table class="table table-hover table-responsive table-bordered table-condensed" id="fixTable">
                    <thead>
                    <tr>
                        <th style="white-space:nowrap;">No</th>
                        <th style="white-space:nowrap;">Nomor Kontrak</th>
                        <th style="white-space:nowrap;">Judul Kontrak</th>
                        <th style="white-space:nowrap;">Tgl Mulai</th>
                        <th style="white-space:nowrap;width: 200px;">Tgl Selesai</th>
                        <th style="white-space:nowrap;width: 200px;">Nilai Kontrak</th>
                        <!--<th class="text-center" style="white-space:nowrap;min-width: 135px;">Aksi</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="item in table.data">
                        <td style="text-align: right;">{{ $index + table.offset + 1 }}.</td>
                        <td>{{ item.nokontrak }}</td>
                        <td>{{ item.judulkonrtak }}</td>
                        <td style="white-space:nowrap">{{ moment(item.tglmulai, 'YYYYMMDD').isValid() ? moment(item.tglmulai, 'YYYYMMDD').format('DD MMM YYYY') : '' }}</td>
                        <td style="white-space:nowrap">{{ moment(item.tglselesai, 'YYYYMMDD').isValid() ? moment(item.tglselesai, 'YYYYMMDD').format('DD MMM YYYY') : '' }}</td>
                        <td style="white-space:nowrap; text-align: right">{{ accounting.formatNumber(item.nilaikontrak, 0, ".", ",") }}</td>
                        <!--<td class="text-center" style="white-space:nowrap" data-ng-init="buttons = table.buttons($index, item);">-->
                            <!--<div data-ng-repeat="button in buttons" style="display: inline;">-->
                                <!--<div data-alt-component="alt/button" data-scope="button"></div>-->
                            <!--</div>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>