<div data-alt-transclude="alt/toolbar" data-scope="toolbar"></div>
<div data-alt-component="alt/breadcrumb" data-scope="breadcrumb"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0; padding-right: 0">
			<div class="portlet box green">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-industry"></i>
						<strong data-ng-if="action == 'view'">Data Template {{templateword.nama}}</strong>
						<strong data-ng-if="action == 'edit'">Edit Template {{templateword.nama}}</strong>
						<strong data-ng-if="action == 'add'">Tambah Data Template</strong>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" name="form">

								<!-- INPUT UNTUK FORM ADD/EDIT -->
								 <div>
							        <div class="form-group">
							            <label for="nama" class="col-lg-2 col-md-2 col-sm-12 control-label">Nama</label>
										<div class="col-lg-10 col-md-10 col-sm-12">
							                <input type="text" class="form-control" name="nama" id="nama" placeholder="Nama" data-ng-model="templateword.nama" readonly="readonly">
							            </div>
							        </div>
							        <div class="form-group">
							            <label for="keterangan" class="col-lg-2 col-md-2 col-sm-12 control-label">Keterangan</label>
										<div class="col-lg-10 col-md-10 col-sm-12">
							                <input type="text" class="form-control" name="keterangan" id="keterangan" placeholder="Keterangan" data-ng-model="templateword.keterangan" readonly="readonly">
							            </div>
							        </div>
							        <div class="form-group">
							            <label for="file" class="col-lg-2 col-md-2 col-sm-12 control-label">File</label>
										<div class="col-lg-10 col-md-10 col-sm-12">
											<a data-ng-href="{{ alt.serverUrl }}upload/template/{{ templateword.file }}">{{ templateword.file }}</a>
							                <input type="file" class="form-control" name="file" id="file" placeholder="File">
							            </div>
							        </div>
							    </div>

								<div class="pull-right" data-ng-if="action != 'view'">
									<div data-alt-component="alt/button" data-scope="btnsave"></div>
									<div data-alt-component="alt/button" data-scope="btncancel"></div>
								</div>

								<div class="pull-right" data-ng-if="action == 'view'">
									<div data-alt-component="alt/button" data-scope="btnback"></div>
								</div>
							</form>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>