<section class="panel panel-default">
    <div class="tabbable-custom ">
        <div class="tab-content">
            <div class="tab-pane active">

                <div class="timeline">
                    <!-- TIMELINE ITEM -->
                    <div class="timeline-item" data-ng-repeat="item in detail.data">
                        <div class="timeline-left">
                            <h6>SLA vs Realisasi</h6>
                            <h5>SLA: {{item.sla}}</h5>
                            <h5>Realisasi: {{item.realisasi}}</h5>
                        </div>
                        <div class="timeline-badge">
                            <div class="timeline-icon" class="{{item.icon == 'green' ? 'back-alice' : 'back-red'}}">
                                <i class="{{item.icon == 'green' ? 'icon-user-following font-green-haze' : 'icon-user-unfollow font-red-haze'}}"></i>
                            </div>
                        </div>
                        <div class="timeline-body" style="background-color: aliceblue">
                            <div class="timeline-body-arrow"></div>
                            <div class="timeline-body-head">
                                <div class="timeline-body-head-caption">
                                    <i class="{{ item.icon }}"></i><h4 class="{{ item.class }}">{{item.judul }}</h4>
                                </div>
                            </div>
                            <div class="timeline-body-content">
                                <div class="panel-body">
                                    <div data-alt-transclude="alt/table" data-scope="table">
                                        <div style="overflow-x: auto">
                                            <table class="table table-hover table-responsive table-bordered table-condensed">
                                                <thead>
                                                <tr>
                                                    <th style="white-space:nowrap;width: 40px;">No</th>
                                                    <th style="white-space:nowrap;width: 80px;">Uraian Flow</th>
                                                    <!--<th style="white-space:nowrap;width: 120px;">No. Surat</th>-->
                                                    <th style="white-space:nowrap;width: 80px;">Tanggal Proses</th>
                                                    <!--<th style="white-space:nowrap;width: 120px;">Hasil Evaluasi/Catatan</th>-->
                                                    <th style="white-space:nowrap;width: 60px;">Keterangan</th>
                                                    <th style="white-space:nowrap;width: 60px;">Dokumen</th>
                                                    <th style="white-space:nowrap;width: 60px;">Nama User</th>
                                                </tr>
                                                </thead>
                                                <tr data-ng-repeat="tabledata in item.tables">
                                                    <td style="text-align: right;">{{ $index + table.offset + 1 }}.</td>
                                                    <td style="white-space:nowrap">{{ tabledata.flow}}</td>
                                                    <!--<td style="white-space:nowrap">{{ tabledata.nosurat}}</td>-->
                                                    <td style="white-space:nowrap">{{ tabledata.tgldok == '' ? '' : moment(tabledata.tgldok,'YYYYMMDD').format('D MMMM YYYY') }}</td>
                                                    <!--<td style="white-space:nowrap">{{ tabledata.keterangan}}</td>-->
                                                    <td>{{ tabledata.keterangan }}</td>
                                                    <td>
                                                        <ul style="list-style-type: none;padding:0; margin:0;">
                                                            <li data-ng-repeat="dok in tabledata.dokumen track by $index">
                                                                <a target="_blank" href="{{ alt.serverUrl + dok.filepath}}">{{dok.name}}</a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>{{user[tabledata.userid].name}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- END TIMELINE ITEM -->
                </div>
            </div>
        </div>
    </div>
</section>