<div class="panel panel-success">
    <div class="panel-heading">
        <h1 class="panel-title">Jumlah Permohonan</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4 text-center">
                <div class="small show text-uppercase text-muted">Aktif</div>
                <div class="h4 no-m"><b>{{data.aktif}}</b>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="small show text-uppercase text-muted">Batal</div>
                <div class="h4 no-m"><b>{{data.batal}}</b>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="small show text-uppercase text-muted">Selesai</div>
                <div class="h4 no-m"><b>{{data.selesai}}</b>
                </div>
            </div>
        </div>
    </div>
</div>