<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0; padding-right: 0">
			<div class="row">
				<div class="col-md-12 filter">
					<div class="col-lg-3 col-sm-12 col-lg-offset-5 col-sm-offset-12">
						 <select class="form-control" data-ng-model="filter.key">
							<option value="" selected="selected" disabled="disabled">- Jenis Pencarian -</option>
							 <option value="nosurat">Nomor Surat</option>
							 <option value="namaunit">Nama Unit Pemohon</option>
							 <option value="pekerjaan">Perihal Pekerjaan</option>
							 <option value="layanan">Jenis Layanan</option>
							 <option value="sid">Service ID</option>
						</select>
					</div>
					<div class="col-lg-4 col-sm-12">
						<input type="text" class="form-control" placeholder="Pencarian" data-ng-model="filter.value"/>
					</div>
				</div>
			</div>
			<div data-alt-transclude="alt/table" data-scope="table"  style="overflow-x: auto">
				<table class="table table-hover table-responsive table-bordered table-condensed table-striped">
					<thead>
					<!--CHARGECODE, PEKERJAAN, UNITASALNAMA, ID_BIDANG, NAMA_BIDANG, ID_PTL, NAMA_PTL, STATUS							-->
					<tr>
						<th style="white-space:nowrap;width: 80px;">No</th>
						<th style="white-space:nowrap;width: 100px;">Nomor Surat</th>
						<th style="white-space:nowrap;width: 100px;">Tanggal Surat</th>
						<th style="white-space:nowrap;width: 250px;">Unit Pemohon</th>
						<th style="white-space:nowrap;width: 350px;">Perihal Pekerjaan</th>
						<th style="white-space:nowrap;width: 350px;">Jenis Layanan</th>
						<th style="white-space:nowrap;width: 350px;">Service ID</th>
						<th style="white-space:nowrap;width: 180px;">Status</th>
						<th class="text-center" style="white-space:nowrap;min-width: 135px;">Aksi</th>
					</tr>
					</thead>
					<!--TASK_ID_, PROC_INST_ID_, EXECUTION_ID_, DEF_KEY, DEFINITIONKEY, COMPANYCODE, NAMA_VENDOR, KATEGORI, NOMOR_PO, PEKERJAAN, NOMOR_INVOICE, NOMOR_FAKTURPAJAK, TGL_INVOICE, DPP, TGLPROSES, TGLVERIFIKASI, STATUS-->
					<tr data-ng-repeat="item in table.data | filter:table.filter" data-ng-init="btnedit = btnedit(index, item);
						btnremove = btnremove(index, item);
						btnview = btnview(index, item);">
						<td style="text-align: right;">{{ $index + table.offset + 1 }}.</td>
						<td style="white-space:nowrap;">{{ item.nosurat }}</td>
						<td style="white-space:nowrap">{{ moment(item.tglsurat, 'YYYYMMDD').isValid() ? moment(item.tglsurat, 'YYYYMMDD').format('DD MMM YYYY') : '' }}</td>
						<td>{{ item.namaunit }}</td>
						<td>{{ item.pekerjaan }}</td>
						<td>{{ item.jenislayanan }}</td>
						<td>{{ item.nomorsid }}</td>
						<td>{{ item.status }}</td>
						<!--<td class="text-center" style="white-space:nowrap" data-ng-init="buttons = buttons($index, item);">-->
							<!--<div data-ng-repeat="button in buttons" style="display: inline;">-->
								<!--<div data-alt-component="alt/button" data-scope="button"></div>-->
							<!--</div>-->
						<!--</td>-->
						<td class="text-center" style="white-space:nowrap" data-ng-init="buttons = buttons($index, item);">
							<div data-ng-repeat="button in buttons" style="display: inline;">
								<div data-alt-component="alt/button" data-scope="button"></div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>