<link type="text/css" rel="stylesheet" media="all" href="asset/css/login-weni.css">
<style>
    @import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
    .title {
        font-family: 'Righteous', cursive;
    }
</style>
<div class="back"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <br>
            <br>
            <div class="account-wall">
                <!-- <h1 class="text-center login-title">Login ke</h1> -->
                <img class="profile-img" src="asset/img/logo-pln.png" alt="">
                <h3 class="text-center title">Change Management Office</h3>
                <!-- <p class="text-center">Login to access CMO Admin Dashboard</p> -->
                <!--<h1 class="text-center login-title">PT PLN (Persero)</h1>-->
                

                <form class="form-signin" data-ng-submit="login()">
                    <div class="form-group">
                        <label class="sr-only">Username</label>
                        <input style="background-color:#fdf3f4; border-radius: 10px; !important" type="text" class="form-control"  placeholder="Username" name="username" data-ng-model="data.username"  autofocus>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Password</label>
                        <input style="background-color:#fdf3f4;" type="password" class="form-control" placeholder="Password" name="password" data-ng-model="data.password" >
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Login</button>                    
                    <!-- <a class="text-center" data-ng-click="forgot()" id="register-btn" >Lupa Password</a> -->
                </form>
            </div>
        </div>

    </div>

    <div class="row copyright">
        <div class="col-md-4 col-md-offset-4">
            <span style="color:#9081ac;">Copyright &copy;</span> 
            <a href="http://www.pln.co.id//" class="link-footer">
                <strong style="color:#4c3e64;">
                    PT PLN (Persero)
                </strong>
            </a>
        </div>
    </div>
</div>