<div class="fade in" tabindex="-1" role="basic" aria-hidden="true" data-ng-show="isshow">
    <div class="modal-dialog" style="z-index:10070; position:fixed; width: 50%; margin-top: 15%; margin-left: 25%; margin-right: auto; top: 0; bottom: 0;">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="margin:20px 0; text-align: center"><i class="fa fa-spin fa-spinner"></i>&nbsp;Silakan tunggu...</h3>
            </div>
        </div>
    </div>
</div>

<div data-ng-show="isshow" style="z-index:10060;background-color:white!important;" class="modal-backdrop fade in"></div>